---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script src="/htmx.js" is:inline></script>
  </head>
  <body class="p-4">
    <h1>Astro</h1>
    <form hx-post="/prompt" hx-target="#result">
      <div>A funnny story about a</div>
      <input
        class="border rounded-sm border-black"
        type="text"
        name="prompt"
        placeholder="Prompt"
      />
      <button class="bg-blue-200" type="submit">Submit</button>
      <img src="/process-dotted.svg" alt="dotted line" />
    </form>
    <div id="result"></div>
  </body>
</html>
